### Java ###
*.class
hs_err_pid*
replay_pid*.txt

### Build tools (add if you use Maven/Gradle) ###
target/
build/
.gradle/

### Logs & temp ###
*.log
*.tmp
*~

### Secrets & local env (never commit) ###
.env
.env.*
!.env.example

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

*.iml
